* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0;
}

header .navbar {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 2;
  width: 100%;
  opacity: 0.97;
  border-bottom: 1px solid rgb(190, 190, 190);
}
header .navbar a {
  color: gray;
  margin-left: 30px;
}
header .info_cuotas {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  text-align: center;
}
header .info_cuotas h2 {
  font-size: 15px;
}

main {
  /* index*/
  /* fin index*/
  /* outlet*/
  /* fin outlet*/
  /* Quienes somos*/
  /*fin quienes somos*/
}
main .imagenes_likeables {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
}
main .imagenes_likeables img {
  height: 80%;
  width: 100%;
}
main h1 {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
main .productos_destacados {
  border-top: 1px solid rgb(214, 214, 214);
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .productos_destacados img {
  width: 300px;
  height: 400px;
  margin: 10px;
}
main .productos_destacados p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
main .boton_vermas {
  text-align: center;
}
main .boton_vermas button {
  color: rgb(255, 255, 255);
  padding: 7px;
  border: 0;
  margin: 100px;
  background-color: rgb(85, 85, 85);
  font-family: "Montserrat", sans-serif;
}
main .main_outlet h1 {
  padding: 50px;
  margin: 400px;
  background-color: #ada9a9;
  border-radius: 50px;
}
main .contenido_quienes_somos {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  color: black;
  width: 100%;
  justify-content: center;
}
main .contenido_quienes_somos h1 {
  margin-top: 50px;
}
main .contenido_quienes_somos p {
  border-top: 1px solid rgb(214, 214, 214);
  padding: 200px;
}
main .productos {
  border-top: 1px solid rgb(214, 214, 214);
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .productos img {
  width: 300px;
  height: 400px;
  margin: 10px;
}
main .productos p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
main .link_inicio {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
main .link_inicio p {
  font-size: 15px;
  margin-right: 10px;
}
main .link_inicio a {
  text-decoration: none;
  color: #c2c2c2;
  font-size: 15px;
}
main .link_inicio a:hover {
  color: gray;
  cursor: pointer;
}
main .info_total {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid rgb(214, 214, 214);
  padding-top: 50px;
}
main .info_total .info_correo {
  margin-left: 60px;
  flex-wrap: wrap;
  color: #b9b8b8;
}
main .info_total .redes {
  margin-left: 60px;
}
main .info_total .redes a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #b9b8b8;
}
main .info_total .redes a:hover {
  color: grey;
  cursor: pointer;
}
main .container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  margin-bottom: 100px;
}
main h1 {
  text-align: center;
  margin-bottom: 20px;
}
main .form-group {
  margin-bottom: 15px;
}
main label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
main input[type=text],
main input[type=email],
main textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main input[type=submit] {
  width: 100%;
  padding: 10px;
  background-color: #8a8a8a;
  color: white;
  border: none;
  cursor: pointer;
}
main input[type=submit]:hover {
  background-color: white;
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
  border-radius: 0;
}
@media (max-width: 768px) {
  main h1 {
    font-size: 1.4rem;
  }
  main .productos_destacados {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
  }
  main .productos_destacados .filtro a {
    justify-content: center;
    font-size: 20px;
  }
  main .productos_destacados h2 {
    font-size: 35px;
  }
  main .main_outlet {
    display: flex;
    padding: 0;
    justify-content: center;
    opacity: 1;
  }
}
@media (max-width: 1101px) {
  main .main_outlet {
    display: flex;
    padding: 0;
    justify-content: center;
    opacity: 1;
  }
}

.body_outlet {
  height: 665px;
  background-image: url(../image/fondo_outlet.jpg);
  background-size: 100%;
}

footer {
  flex-wrap: wrap;
  background-color: rgb(209, 209, 209);
  border-top: 1px solid rgb(148, 148, 148);
}
footer .info_footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
footer .info_footer .navegacion {
  margin: 50px;
}
footer .info_footer .navegacion a {
  display: flex;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;
}
footer .info_footer .navegacion a:hover {
  color: gray;
  cursor: pointer;
}
footer .info_footer .medios_pagos {
  margin: 50px;
}
footer .info_footer .redes {
  margin: 50px;
}
footer .info_footer .redes a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;
}
footer .info_footer .redes a:hover {
  color: grey;
  cursor: pointer;
}
footer h6 {
  background-color: rgb(180, 180, 180);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
